
body{
background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.navbar-nav .nav-link{
    position: relative;
    padding-bottom: 5px;
}

.navbar-nav .nav-link::after{
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after{
    width: 100%;

}

.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px; 
  min-height: 60vh;   
  background-color: #ffffff; 
}

.contenedor-exterior {
  border: 15px solid #d9d9d9; 
  border-radius: 20px;       
  padding: 20px;             
  box-shadow: 0 6px 12px rgba(0,0,0,0.15); 
  width: 100%;               
  max-width: 800px;          
}

.contenedor-interior {
  background-color: #fff;     
  border-radius: 15px;       
  min-height: 350px;           
  padding: 40px;    
}

.btn-posponer {
    background-color: #cde35b; 
    color: #000000;          
    border: none;              
    font-weight: 500;         
}

.btn-posponer:hover {
    background-color: #b8cc52; 
    color: #000000;
}

.btn-aceptar {
    background-color: #8cb4e9; 
    color: #000000;            
    border: none;
    font-weight: 500;
}

.btn-aceptar:hover {
    background-color: #7da2d2; 
    color: #000000;
}

#tabsCitas .nav-link.active {
  background-color: #000;
  color: white;
}

#tabsCitas .nav-link {
  color: black;
}

.form-control,
.form-select {
  border: 1px solid #ddd;
  padding: 10px 15px;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
  border-color: #999;
}

.nav-pills .nav-link.active {
  background-color: white;
  color: black;
}

.nav-pills .nav-link {
  color: black;
}

/*--------------------------------------------------------------------------------------------------*/

/*Tamaño de la barra de búsqueda */
.buscador {
  width: 520px;
  flex: 0 0 520px;
}

/* Estado normal de los filtros */
.btn-check + .btn-filtro {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
  font-weight: 600;
}


.btn-check + .btn-filtro:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

/*Cuando este en estado seleccionado */
.btn-check:checked + .btn-filtro {
  background-color: #000;
  border-color: #000;
  color: #fff;
}


.btn-check:checked + .btn-filtro,
.btn-check:active + .btn-filtro,
.btn-check:focus + .btn-filtro,
.btn-check:checked + .btn-filtro:focus,
.btn-filtro:active {
  background-color: #000 !important;
  border-color: #000 !important;
  color: #fff !important;
  box-shadow: none !important;
}

.btn-filtro:active {
  background-color: #000 !important;
  border-color: #000 !important;
  color: white !important;
}

.historial-contenedor {
  background-color: #d9d9d9;
  padding: 10px 35px 30px;
}

.fila-cita {
  background-color: white;
  border-radius: 12px;
  padding: 12px 20px;
  align-items: center;
}

.fila-cita p {
  margin: 0;
}

.motivo-cita {
  text-align: center;
}